{{ form_start(form) }}
    {{ form_widget(form.code) }}
    {{ form_widget(form.nom) }}
    {{ form_widget(form.prenom) }}
    {{ form_widget(form.tel) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
